asgiref         3.4.1  ASGI specs, helper code, and adapters
dj-database-url 0.5.0  Use Database URLs in your Django Application.
django          3.2.6  A high-level Python Web framework that encourages ra...
gunicorn        20.1.0 WSGI HTTP Server for UNIX
python-dotenv   0.19.0 Read key-value pairs from a .env file and set them a...
pytz            2021.1 World timezone definitions, modern and historical
sqlparse        0.4.1  A non-validating SQL parser.
